<table class="table">
    <tr>
        <td>Sub total</td>
        <td>Rp {{ basket.subTotal | number_format(2,',','.') }}</td>
    </tr>
    <tr>
        <td>PPN</td>
        <td>-</td>
    </tr>
    <tr>
        <td class="success">Total</td>
        <td class="success">Rp {{ (basket.subTotal + 0) | number_format(2,',','.') }}</td>
    </tr>
</table>